<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">
<head>
    <meta charset="UTF-8">
    <title>Order Detail</title>
</head>
<body>
<div layout:fragment="content">

    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header"><i class="fa fa fa-bars"></i> Products</h3>
                <ol class="breadcrumb">
                    <li><i class="fa fa-home"></i><a th:href="@{/admin}">Home</a></li>
                    <li><i class="fa fa-bars"></i><a th:href="@{/reservation/view-reservation}">Table Reservation</a>
                    </li>
                    <li><i class="fa fa-square-o"></i>Detail</li>
                </ol>
            </div>
        </div>
        <div th:if="${errmsg}" class="alert alert-danger" role="alert">
            <span th:text="${errmsg}"></span>
        </div>
        <div th:if="${msg}" class="alert alert-success" role="alert">
            <span th:text="${msg}"></span>
        </div>
        <div class="container" style="width: 70%">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <form class="form-horizontal" th:action="@{'/admin/product/update/'}" method="put">
                        <section class="panel">
                            <header class="panel-heading">
                                Order Detail
                            </header>
                            <div class="panel-body">

                                <!--date picker start-->
                                <div class="form-group">
                                    <label class="control-label col-sm-4">ID</label>
                                    <div class="col-sm-6">
                                        <div th:size="20px" th:text="${order.id}" style="font-weight: bold"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Client Username</label>
                                    <div class="col-sm-7">
                                        <div th:size="20px" th:text="${order.user.username}"
                                             style="font-weight: bold"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Client Name</label>
                                    <div class="col-sm-7">
                                        <div th:size="20px" th:text="${order.user.firstName} + ' ' + ${order.user.lastName}"
                                             style="font-weight: bold"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Order Status</label>
                                    <div class="col-sm-7">
                                        <div th:size="20px" th:text="${order.status}"
                                             style="font-weight: bold"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Phone Number</label>
                                    <div class="col-sm-6">
                                        <p class="text-decoration-none" th:text="${order.user.phoneNo}"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Checkout Date</label>

                                    <div class="col-sm-5">
                                        <div th:text="${order.formatCheckOutDate()}"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Approve Date</label>
                                    <div class="col-sm-5">
                                        <div th:size="20px" th:text="${order.approveDate()}"
                                             style="font-weight: bold"></div>
                                    </div>
                                    <div th:if="${order.status.equalsIgnoreCase('Waiting') || !order.status.equalsIgnoreCase('Confirmed')}">
                                    <a class="btn btn-success"
                                       th:href="'/order/approve-order/' + ${order.id}">Approve</a>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Reject Time</label>

                                    <div class="col-sm-5">
                                        <div th:text="${order.formatRejectDate()}"/>
                                    </div>
                                    <div th:if="${order.status.equalsIgnoreCase('Waiting')}">
                                        <a class="btn btn-danger"
                                           th:href="'/order/reject-order/' + ${order.id}">Reject</a>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Confirm Time</label>

                                    <div class="col-sm-5">
                                        <div th:text="${order.formatConfirmDate()}"/>
                                    </div>
                                    <div th:if="${!order.status.equalsIgnoreCase('Confirmed')}">
                                        <a class="btn btn-primary"
                                           th:href="'/order/confirm-order/' + ${order.id}">Confirm</a>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Total Price</label>

                                    <div class="col-sm-5">
                                        <div th:text="${order.calculateTotal() + '$'}"/>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </form>

                    <table class="table">
                        <thead>
                        <tr>
                            <th>Product Name</th>
                            <th>Product Category</th>
                            <th>Product Quantity</th>
                            <th>Product Price</th>
                            <th>Product Total Price</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="orderDetail : ${order.getOrderDetails()}">
                            <td><a class="text-decoration-none text-primary"
                                   th:href="@{/admin/products/detail/{id}(id=${orderDetail.getProduct().getProductId()})}"
                                   th:text="${orderDetail.getProduct().getName()}"></a></td>
                            <td><a class="text-decoration-none text-primary"
                                   th:href="@{/admin/categories/detail/{id}(id=${orderDetail.getProduct().getCategory().getId()})}"
                                   th:text="${orderDetail.getProduct().getCategory().getName()}"></a></td>
                            <td th:text="${orderDetail.getQuantity()}"></td>
                            <td th:text="${orderDetail.getProduct().getPrice() + '$'}"></td>
                            <td th:text="${orderDetail.getProduct().getPrice() * orderDetail.getQuantity() + '$'}"></td>
                        </tr>
                        </tbody>
                    </table>


                </div>
            </div>
        </div>
    </section>
</div>

</body>
</html>