.error{
    color:red;
    font-size: 12px;
    font-style: italic;
    font-family: "Times New Roman";
    /*background-color: aquamarine;*/
    text-align: center;
    font-weight: bold;
}
.bgStyle{
    width:600px;
    height:700px;
}

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}
.h-custom {
    height: calc(100% - 73px);
}
@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}