<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
</head>
<body>
<div layout:fragment="content">
<section class="wrapper">
<div th:if="${msg}" class="alert alert-success" role="alert">
    <span th:text="${msg}"></span>
</div>
<div th:if="${errmsg}" class="alert alert-danger" role="alert">
    <span th:text="${errmsg}"></span>
</div>
</section>
</div>

</body>
</html>