<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
</head>
<body>
<div layout:fragment="content">
    <section class="wrapper">
    <form th:action="@{/forgot-password}" method="post">

        <div>
            <h2>Reset Your Password</h2>
            <p>The token will expiry in about 10 minutes</p>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <input type="hidden" name="token" th:value="${token}"/>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password"
                           placeholder="Password" required autofocus>
                </div>
                <div class="form-group">
                    <label for="confirmPassword">Confirm Password</label>
                    <input type="password" class="form-control" name="confirmPassword" id="confirmPassword"
                           required oninput="checkPasswordMatch(this);" placeholder="Confirm Password">
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </section>
</div>
<script type="text/javascript">
    function checkPasswordMatch(fieldConfirmPassword) {
        if (fieldConfirmPassword.value != $("#password").val()) {
            fieldConfirmPassword.setCustomValidity("Passwords do not match!");
        } else {
            fieldConfirmPassword.setCustomValidity("");
        }
    }
</script>

</body>
</html>